.portal-header {
  background-color: #1e3a8a;
  color: white;
  padding: 16px 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portal-name {
  margin: 0;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #facc15;
}

.nav-links a.active-link {
  color: #facc15;
  font-weight: 700;
  border-bottom: 2px solid #facc15;
}

.logout-link {
  cursor: pointer;
}